<%- include('partials/head', {title: "Sign up"}); %>

<div class="h-screen w-full flex flex-col justify-center px-10">
    <h3 class="mt-8 font-bold">Name: <span class="font-normal"><%= username %></span></h2>
    <h3 class="mt-8 font-bold">Email: <span class="font-normal"><%= email %></span></h3>
</div>

<%- include('partials/footer'); %>